html{
    box-sizing:border-box;
    font-family:'Open Sans',sans-serif;
}
*
{
    list-style-type: none;
}
body
{
    background-color:#ede7f6;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.pricing-panel-table
{
    background-color: white;
    border-radius: 10px;
    padding:15px 25px;
    width:100%;
    max-width:960px;
    display:flex;
    flex-direction: column;
    text-align: center;
    text-transform:uppercase;
}
.pricing-plan
{
    border-bottom: 1px solid #ede7f6;
}
.pricing-plan:last-child
{
    border-bottom:none;
}
.pricing-img
{
    margin-bottom:25px;
    max-width:100%;
}
.pricing-header
{
    color:#888;
    font-weight:600;
    letter-spacing: 1px;
}
.pricing-features
{
    margin:50px 0 25px;
    color:#ce93d8;
}
.pricing-features-item
{
    font-weight:600;
    letter-spacing:1px;
    font-size:12px;
    line-height:1.5;
    padding:15px 0;
    border-top:1px solid #ede7f6;
}
.pricing-features-item:last-child{
    border-bottom:1px solid #e1f1ff;
}
.pricing-price
{
    color:#12005e;
    display:block;
    font-size:32px;
    font-weight:700;
}
.pricing-button{
    border:1px solid #ede7f6;
    border-radius:10px;
    color:#d1c4e9;
    display:inline-block;
    padding:15px 35px;
    text-decoration:none;
    margin:25px 0;
    transition:background-color 200ms ease-in-out
}
.pricing-button:hover, .pricing-button:focus
{
    background-color: #ede7f6;
    color:white;
}
.pricing-button.is-featured
{
    background-color: #d1c4e9;
    color:white;
}
.pricing-button.is-featured:hover,.pricing-button.isfeatured:focus
{
    background-color: #a094b7;
    color:white;
}
@media(min-width: 900px) {
    .panel {
      flex-direction: row;
    }
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #ede7f6;
      padding: 25px 50px;
    }
    .pricing-plan:last-child{
      border-right: none;
    }
  }
  
  /* 1792x828px at 326ppi */
  @media only screen 
      and (device-width: 414px) 
      and (device-height: 896px) 
      and (-webkit-device-pixel-ratio: 2) 
      { 
        .pricing-img {
          padding-top: 20px;
          max-width: 50%;
        }
  }